telegram_connection:
    api_token: "your-awesome-token"
    webhook_domain: "https://i2bot.wtfteam.pro"
    listen_address: "0.0.0.0:5000"
database_connection:
    host: "localhost"
    port: "3306"
    user: "i2_bot"
    password: "i2_bot"
    database: "i2_bot"
special_chats:
    academy_id: "group_id"
    bastion_id: "group_id"
    default_id: "group_id"
    headquarters_id: "group_id"
logs:
    log_path: "./i2_bot.log"
